<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            </tr>
        </thead>
        <TBOdy>
            <tr *ngFor="let list of result">
                <td>{{list.productName}}</td>
                <td>{{list.brand}}</td>
                <td>{{list.price}}</td>
                <td><button (click)="delete(list.productCode)">-</button></td>
            </tr>
        </TBOdy>
    </table>
    <button  (click)="submit()" >Payment</button>
</body>
</html>